body {
    background-color: #0d1b2a;
    color: white;
    text-align: center;
    padding: 20px;
}
.header {
    background-color: #273755;
    padding: 15px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 20px;
}
.form-container {
    max-width: 800px;
    margin: auto;
    margin-top: 100px;
}
.form-group {
    text-align: left;
    margin-bottom: 15px;
}
.form-group label {
    font-weight: bold;
}
.form-group i {
    margin-right: 8px;
}
.row .form-group {
    padding: 0 10px;
}
.btn-custom {
    background-color: #415a77;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 120px;
}
.btn-custom:hover {
    background-color: #778da9;
}
.btn-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 70px;
}
label{
    font-size: 23px;
}

/* Adjustments for small screens */
@media (max-width: 576px) {
    .form-container {
        margin: 50px auto; /* Medium margin */
        padding: 20px;
    }

    .form-group {
        margin: 15px; /* Medium margin for form groups */
    }

    .header {
        font-size: 24px; /* Slightly smaller for small screens */
        padding: 8px;
    }

    label {
        font-size: 18px; /* Adjust label size for readability */
    }
}
